:host {
  display: block;
  height: 500px;
  width: 1200px;
}

/deep/ #line-chart {
  .axis {
    font-family: "Open Sans", sans-serif;

    &.y {
      .tick:nth-of-type(even) text {
        display: none;
      }
      text {
        transform: translate(20px, -10px);
      }
    }

    &.x {
      .tick {
        display: none;
      }
    }

    path {
      &.domain {
        stroke: #fff !important;
      }
    }

    .tick {
      text {
        fill: #B2BEC4;
        font-size: 0.857rem;
      }

      line {
        stroke: rgba(#979797, 0.15) !important;
      }
    }
  }

  .line {
    stroke: #4b85be;
    stroke-width: 2px;
    fill: none;
  }
}
